body {
    background-image: linear-gradient(#233237, #cae4db);
    margin: 0% 10% 0% 10%;
    font-family: 'Changa', sans-serif;
    }
    
    .jumbotron {
        height: 200px;
        margin-top: -40px;
        font-family: 'Changa', sans-serif;
    }

    .center {
        text-align: center;
        font-family: 'Changa', sans-serif;
    }
    
    .submit {
        background: #233237;
        font-family: 'Changa', sans-serif;
    }
    